html,
body {
  height: 100%;
  margin: 0;
}

.content {
  padding: 20px;
  min-height: 94%;
  margin: 0 auto -149px;
}

.footer,
.push {
  height: 150px;
}

footer {
  background: #42a5f5;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}

.footer-link {
  color: white;
}

.ck-content {
  min-height: 150px;
}

.img-rounded {
  border-radius: 50%;
}

.bg-lightgrey {
  background-color: #f8f9fa;
}
