{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Inscription{% endblock %}

{% block content %}

    <h1>Inscription</h1>

    <p>En vous inscrivant, vous acceptez que vos données soient receuillies à des fins purement fonctionnelles, elle ne seront ni vendus ni partagées et seront sécurisées dans notre datacenter secret.</p>

    <p>En conformité avec la CNIL et vous disposer d'un droit d'accès, de modification et de suppression de vos données sur simple demande via le formulaire de contact.</p>

    <p>I/O Blog fourni un service de commentaires et ne saurait être tenus responsables des propose tenus par les utilisateurs, en présence de contenus illicites, le CSA sera saisi et une plainte sera déposée à l'encontre des auteurs présumés des faits.</p>

    {{ form|raw }}

{% endblock %}
