{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Inscription{% endblock %}

{% block content %}

    <h1>Erreur de validation</h1>

    <p>Toute nos excuses pour ce contretemps, merci de nous contacter via le formulaire sur ce site.</p>

{% endblock %}
