{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Page non trouvée{% endblock %}
{% block content %}


    <div class="jumbotron mt-3">
        <h1 class="display-4"> Accès refusé</h1>
    </div>

    <div class="card my-3 p-3">
        {% if session.user is not defined %}
            <p>Vous devez être connecté pour accéder à cette page : <a href="/login">connexion</a></p>
        {% else %}
            <p>La page que vous recherchez nécessite un compte de niveau supérieur.</p>
        {% endif %}

    </div>
{% endblock %}


