{% extends "admin/admin-base.html.twig" %}
{% block title %}{{ parent() }} Gestion des articles{% endblock %}

{% block adminContent %}

    {% if post is defined %}
        <h2>Commentaires de l'article : <br>{{ post.title }}</h2>
    {% else %}
        <h2>Gestion des commentaires</h2>
    {% endif %}

    {% for comment in comments  %}
        <div class="card mb-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">le {{ comment.createdAt|date('d/m/Y') }} par
                    {% if comment.username is not null %}
                        {{ comment.username }}
                    {% elseif comment.unregisteredUsername is not null %}
                        {{ comment.unregisteredUsername }}
                    {% else %}
                        utilisateur inconnu
                    {% endif %}
                </h6>
                <p>{{ comment.content|length > 50 ? comment.content|slice(0, 50) ~ '...' : comment.content  }}</p>
                <div class="row">
                    {% if comment.statusName is same as('valid') %}
                        <form action="/admin/comment/moderate" method="POST" class="form-inline ml-3">
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{ comment.id }}">
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn mt-1" role="button">Modérer</button>
                        </form>
                    {% elseif comment.statusName in ['moderated', 'pending'] %}
                        <form action="/admin/comment/validate" method="POST" class="form-inline ml-3">
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{ comment.id }}">
                            </div>
                            <button type="submit" class="btn btn-outline-success btn mt-1" role="button">Valider</button>
                        </form>
                    {% endif %}
                    <a class="btn btn-outline-danger btn mt-1 open-modal ml-3"
                       data-id="{{ comment.id }}"
                       data-content="{{ comment.content }}"
                       data-toggle="modal" data-target="#deleteModal"
                       href="/admin/comment/delete/"
                       role="button">Supprimer</a>
                    <a class="btn btn-outline-primary btn mt-1 ml-3" href="/post/{{ comment.postId }}" role="button">Voir l'article</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if comments is empty %}
        <div class="card mb-3">
            <div class="card-body text-center">
                Aucun commentaires
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression de commentaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûr de vouloir supprimer le commentaire suivant :<br>
                         <span id="commentTitlePlaceholder">#commentaire inconnu#</span>
                        <hr>
                        <i class="fa fa-exclamation"></i> L'utilisateur sera notifié de la suppression</em>
                    </p>
                </div>
                <div class="modal-footer">
                    <form action="/admin/comment/delete" method="POST">
                        <input type="hidden" id="deleteInput" name="id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-danger">Supprimer</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).on("click", ".open-modal", function () {
            let commentId = $(this).data('id');
            let url = "/admin/comment/delete/" + commentId;
            let commentContent = $(this).data('content');
            $(".modal-body #commentTitlePlaceholder").html(commentContent);
            $(".modal-footer #deleteInput").val(commentId);
        });
    </script>

{% endblock %}