{% extends "admin/admin-base.html.twig" %}
{% block title %}{{ parent() }} Gestion des articles{% endblock %}

{% block adminContent %}

    <h2>
        Gestion des articles
        <a class="btn btn-outline-success" href="/admin/post/new" role="button"><i class="fa fa-plus"></i> Nouvel article</a>
    </h2>

    {% for post in posts  %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    {{ post.title }}
                    {% if post.statusName is same as('draft') %}
                        <span class="badge badge-pill badge-info">Brouillon</span>
                    {% endif %}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">le {{ post.updatedAt|date('d/m/Y') }} par {{ post.username }}</h6>
                <p>{{ post.excerpt }}</p>
                <div class="row">
                    <a class="btn btn-outline-primary btn mt-1 ml-3" href="/admin/post/edit/{{ post.id }}" role="button">Editer</a>
                    {% if post.statusName is same as('active') %}
                        <form action="/admin/post/unpublish" method="POST" class="form-inline ml-3">
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{ post.id }}">
                            </div>
                            <button type="submit" class="btn btn-outline-success btn mt-1" role="button">Mettre en brouillon</button>
                        </form>
                    {% elseif post.statusName is same as('draft') %}
                        <form action="/admin/post/publish" method="POST" class="form-inline ml-3">
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{ post.id }}">
                            </div>
                            <button type="submit" class="btn btn-outline-success btn mt-1" role="button">Publier</button>
                        </form>
                    {% endif %}
                    <a class="btn btn-outline-danger btn mt-1 ml-3 open-modal"
                       data-id="{{ post.id }}"
                       data-title="{{ post.title }}"
                       data-toggle="modal" data-target="#deleteModal"
                       href="/admin/post/delete/"
                       role="button">Supprimer</a>
                    <a class="btn btn-outline-primary btn mt-1 ml-3" href="/admin/post/comment/{{ post.id }}" role="button">Gérer les commentaires</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Suppression d'articles</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Etes-vous sûr de vouloir supprimer l'article suivant :<br>
                            <b id="postTitlePlaceholder">#titre inconnu#</b><br>
                            <em><i class="fa fa-exclamation"></i> Les commentaires associés seront également supprimés</em>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form action="/admin/post/delete" method="POST">
                            <input type="hidden" id="deleteInput" name="id">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-danger">Supprimer</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).on("click", ".open-modal", function () {
            let postId = $(this).data('id');
            let url = "/admin/post/delete/" + postId;
            let postTitle = $(this).data('title');
            $(".modal-body #postTitlePlaceholder").html(postTitle);
            $(".modal-footer #deleteInput").val(postId);
        });
    </script>

{% endblock %}