{% extends "admin/admin-base.html.twig" %}
{% block title %}{{ parent() }} Gestion des utilisateurs{% endblock %}

{% block adminContent %}

    <h2>Gestion des utilisateurs</h2>

    {% for user in users  %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="card-subtitle mb-2 text-muted">
                            {% if user.username is same as(session.user.username) %}
                                <i class="fa fa-user"></i> YOU >
                            {% endif %}
                            {{ user.username }}  <em>inscrit le {{ user.createdAt|date('d/m/Y') }}</em></h6>
                        <div class="row">
                            <div class="col-sm-6">Statut:
                                {% if user.statusName is same as('valid') %}
                                    Validé
                                {% elseif user.statusName is same as('pending') %}
                                    En attente
                                {% elseif user.statusName is same as('banned') %}
                                    Banni
                                {% endif %}
                            </div>
                            <div class="col-sm-6">Rôle:
                                {% if user.roleName is same as('admin') %}
                                    Administrateur
                                {% elseif user.roleName is same as('member') %}
                                    Membre
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" title="fonctionnalité à venir">
                        {% if user.statusName is same as('valid') and user.username is not same as(session.user.username) %}
                            <a
                                    class="btn btn-outline-warning btn mt-1 disabled"
                                    href="/admin/comment/validate/{{ user.id }}"
                                    role="button">
                                Bannir
                            </a>
                        {% elseif user.statusName in ['banned', 'pending'] %}
                            <a
                                    class="btn btn-outline-success btn mt-1 disabled"
                                    href="/admin/comment/validate/{{ user.id }}"
                                    role="button">
                                Valider
                            </a>
                        {% endif %}
                        {% if user.username is not same as(session.user.username) %}
                            <a class="btn btn-outline-danger btn mt-1 open-modal disabled"
                               data-id="{{ user.id }}"
                               data-username="{{ user.username }}"
                               data-toggle="modal" data-target="#deleteModal"
                               role="button">Supprimer
                            </a>
                        {% endif %}
                    </div>
                </div>



            </div>
        </div>
    {% endfor %}

    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression d'utilisateurs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûr de vouloir supprimer l'utilisateur suivant :<br>
                        <b id="usernamePlaceholder">#utilisateur inconnu#</b>
                    <hr>
                    <i class="fa fa-exclamation"></i> L'utilisateur sera notifié de la suppression</em>
                    </p>
                </div>
                <div class="modal-footer">
                    <form action="/admin/user/delete" method="POST">
                        <input type="hidden" id="deleteInput" name="id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-danger">Supprimer</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).on("click", ".open-modal", function () {
            let userId = $(this).data('id');
            let url = "/admin/user/delete/";
            let username = $(this).data('username');
            $(".modal-body #usernamePlaceholder").html(username);
            $(".modal-footer #deleteInput").val(userId);
        });
    </script>

{% endblock %}