{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Suppression ?{% endblock %}
{% block content %}

    <h1>Page pas nécessaire - suppression depuis backoffice (list)</h1>

    <p>lien delete dans la liste admin</p>

{% endblock %}