{% extends "admin/home.html.twig" %}
{% block title %}{{ parent() }} Modif d'un article{% endblock %}

{% block adminContent %}
    {% if post.id is defined %}
        <h2>Modif de l'article n° {{ post.id }}</h2>
        <em>{{ post.title }}</em>
    {% else %}
        <h2>Nouvel article</h2>
        <em>exprimez-vous !</em>
    {% endif %}

    <hr class="my-2">

    {{ form|raw }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
{% endblock %}