{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Tous les articles{% endblock %}
{% block content %}


    <div class="jumbotron mt-3">
        <h1 class="display-4"> Tous les articles</h1>
    </div>

    <div class="card my-3 p-3">
        {% for post in posts %}
            <div class="row">
                <div class="col-sm-6">
                    <h6>{{ post.title}}</h6>
                    <p>
                        le {{ post.createdAt|date('d/m/Y') }} par {{ post.username }} -
                        <em>mise à jour le {{ post.updatedAt|date('d/m/Y') }} </em>
                    </p>
                    <p>{{ post.excerpt }}</p>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="/post/{{ post.id }}" type="button" class="btn btn-outline-primary">Lire l'article</a>
                </div>
            </div>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


